p, h1, h2, h3, h4, h5, h6, th, td, button, input, a {
	bm-icon {
		fill: currentColor;
		height: 1em;
		width: 1em;
	}
}

bm-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}